In [1]:
import pandas as pd

In [2]:
ls

Untitled.ipynb           new_script.js            style.css
data_clean.csv           reddit-april-fools.html

In [5]:
data = pd.read_csv("data_clean.csv")

In [ ]:
intervals = [x for x in range()]

In [6]:
data['time'].cut(x=[0,60,120,180,240,], right=False)

0           7
1           8
2          10
3          10
4          11
5          12
6          12
7          13
8          13
9          14
10         14
11         15
12         15
13         15
14         15
15         16
16         16
17         16
18         16
19         16
20         16
21         16
22         17
23         17
24         17
25         17
26         17
27         17
28         18
29         18
         ...
12853    1478
12854    1478
12855    1478
12856    1478
12857    1478
12858    1478
12859    1479
12860    1480
12861    1480
12862    1480
12863    1481
12864    1481
12865    1481
12866    1481
12867    1481
12868    1482
12869    1482
12870    1482
12871    1482
12872    1483
12873    1483
12874       1
12875    1484
12876    1485
12877    1485
12878    1485
12879    1485
12880       1
12881    1486
12882    1486
Name: time, Length: 12883, dtype: int64